*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/copy
/LibOpengl
.externalNativeBuild
.idea/modules/
app/libs/
app/src/main/java/com/lq/beauty/app/setting/
